@import "./../../global/global.less";
.Todo {
  width: 100%;
  min-width: 400px;
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  & > button:last-child {
    align-self: flex-end;
  }
  .Header {
    color: @font-dark-color;
    font-family: @family-headers;
    font-weight: 200;
  }
  .TextDate {
    color: @font-gray-color;
    font-family: @family-body-text;
    margin-bottom: 24px;
  }
  .Text {
    color: @font-dark-color;
    font-family: @family-body-text;
    margin-bottom: 24px;
  }
}
.TodoComplete {
  background: rgb(255, 255, 255);
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 89%,
    rgba(170, 255, 153, 1) 100%
  );
}
.TodoExpired {
  opacity: 0.4;
}
.Files {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  svg {
    width: 20px;
    height: 20px;
    fill: @bg-ui;
  }
  svg[disabled] {
    fill: @font-dark-color;
  }
}
.MainInfo {
  column-gap: 16px;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  .RightAction {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
  }
  svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: @bg-ui;
    margin-right: 12px;
  }
  svg[disabled] {
    fill: @font-dark-color;
  }
}

.File {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
  align-items: center;
  p {
    font-family: @family-headers;
    font-size: 12px;
    color: @font-gray-color;
  }
  svg {
    width: 20px;
    height: 20px;
    fill: @bg-ui;
  }
}
