@import "./../../global/global.less";
.FormTodo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
}

.FormElement {
  display: flex;
  align-items: center;
  column-gap: 24px;
  white-space: nowrap;
  p {
    min-width: 120px;
    font-family: @family-headers;
    font-size: 24px;
    color: @font-gray-color;
  }
}
