@import "./../../global/global.less";
.Button {
  text-align: center;
  padding: 12px 6px;
  color: white;
  background-color: @bg-ui;
  border: none;
  font-family: @family-body-text;
  font-size: 16px;
  cursor: pointer;
}

.Cirle {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
.Rect {
  border-radius: 4px;
}
